<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="fragment/general.html :: header-includes"></th:block>
    <title>Todos</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-12 mt-3">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" style="width: 35.00%" class="text-center"> Title </th>
                    <th scope="col" style="width: 25.00%" class="text-center"> Progress </th>
                    <th scope="col" style="width: 40.00%" class="text-center"> Actions </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${todos.isEmpty()}">
                    <td colspan="5"><span class="ml-3"> No Todos Available</span> </td>
                </tr>
                <tr th:each="todo : ${todos}">
                    <td><span th:text="${todo.getTitle()}" class="pl-2"> Title </span></td>
                    <td>
                        <div class="progress" style="background-color: darkgray;">
                            <div class="progress-bar" role="progressbar" th:style="'width: '+ ${todo.getProgressPercent()} +'%'" style="width: 25%" aria-valuenow="25" th:aria-valuenow="${todo.getProgressPercent()}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <a th:href="@{/todo/edit/{todoId}(todoId=${todo.getId()})}" class="btn btn-primary mr-3">Change</a>
                        <a th:href="@{/todo/delete/{todoId}(todoId=${todo.getId()})}"  class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10">
        </div>
        <div class="col-lg-2 text-right">
            <a th:href="@{/todo/add}" class="btn btn-primary" >New Todo</a>
        </div>
    </div>
</div>
<th:block th:replace="fragment/general.html :: footer-includes"></th:block>
</body>
</html>
