<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todos</title>
</head>
<body>
<h1>Todos</h1>
<a th:href="@{/todo/add}">New Todo</a>
<table>
    <thead>
        <tr>
            <th> Title </th>
            <th> Description </th>
            <th> Progress </th>
            <th> Delete </th>
            <th> Edit </th>
        </tr>
    </thead>
    <tbody>
        <tr th:if="${todos.isEmpty()}">
            <td colspan="2"> No Todos Available </td>
        </tr>
        <tr th:each="todo : ${todos}">
            <td><span th:text="${todo.getTitle()}"> Title </span></td>
            <td><span th:text="${todo.getDescription()}"> Description </span></td>
            <td><input type="range" disabled min="1" max="100" value="50" th:value="${todo.getProgressPercent()}"></td>
            <td><a th:href="@{/todo/delete/{todoId}(todoId=${todo.getId()})}">Delete</a></td>
            <td><a th:href="@{/todo/edit/{todoId}(todoId=${todo.getId()})}">Edit</a></td>
        </tr>
    </tbody>
</table>
</body>
</html>
